**/*.a
**/*.pc
/**/*/.DS_STORE
.DS_STORE
build/.*
build/paramfetch.sh
/vendor
/blocks.dot
/blocks.svg
/chainwatch.db
/bundle
/darwin
/linux
*.snap

*-fuzz.zip
/chain/types/work_msg/
bin/ipget
bin/tmp/*
.idea
scratchpad

dist/